/**
 * Terminal panel styles.
 */

.terminal-panel {
  width: 100%;
  height: 100%;
  display: flex;
  background: transparent;

  &-content {
    flex: 1;
    overflow: hidden;
    position: relative;
    min-width: 300px;
    background: transparent;
  }

  &-xterm {
    width: 100%;
    height: 100%;
    padding: 4px 8px;

    &.ime-composing .xterm .xterm-screen {
      canvas:nth-child(n + 2) {
        opacity: 0 !important;
        pointer-events: none !important;
      }
    }

    .xterm {
      height: 100%;

      .xterm-viewport {
        background: transparent !important;
        overflow-y: auto !important;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--ws-scrollbar-thumb);
          border-radius: 5px;

          &:hover {
            background: var(--ws-scrollbar-thumb-hover, var(--ws-scrollbar-thumb));
          }
        }
      }

      .xterm-screen {
        background: transparent !important;
      }
    }
  }
}
