/**
 * Tabs 组件样式
 */

.tabs {
  width: 100%;
}

.tabs-list {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid var(--ws-border-color);
  margin-bottom: 16px;
  button{
    padding: 5px 10px;
  }
}

.tabs-trigger {
  border: none;
  background: transparent;
  color: var(--ws-text-secondary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  outline: none;
}

.tabs-trigger:hover {
  color: var(--ws-text-primary);
  background-color: var(--ws-input-background);
}

.tabs-trigger-active {
  color: var(--ws-text-primary);
  border-bottom-color: var(--ws-button-background);
}

.tabs-content {
  width: 100%;
}

