/**
 * ActivityBar 活动栏样式 - 只负责布局
 * 颜色样式在 colors.css 中统一管理
 */

.activity-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 8px 0;
  width: 48px;
  height: 100%;
  border-right: 1px solid var(--ws-border-background);
  position: relative;

  &-top {
    display: flex;
    flex-direction: column;
  }

  &-spacer {
    flex: 1;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
  }

  &-item {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-indicator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 3px;
    height: 24px;
    transform: translateY(-50%);
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-plugin-icon {
    display: block;
    flex-shrink: 0;
  }
}
