

.breadcrumb {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 12px;
  font-size: 12px;
  height: 22px;
  min-height: 22px;
  max-height: 22px;
  flex-shrink: 0;
  opacity: 0.8;
  margin: 0;



  &-separator {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    flex-shrink: 0;
    opacity: 0.5;
  }

  &-ellipsis {
    padding: 0 4px;
    opacity: 0.5;
  }

  button {
    border: none;
    cursor: pointer;
    padding: 1px 3px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent !important;
  }
}

