// 全局 boder 边框颜色配置,所有边框颜色，全部在这里定义


//AI panle

.ai-chat-panel-input-container {
  border-top: 1px solid var(--ws-titleBar-border);
}

.ai-chat-panel .ai-chat-panel-input-container-inner {
  border: 1px solid var(--ws-titleBar-border);
}







.titleBar {
    border-bottom: 1px solid var(--ws-titleBar-border);
}

.status-bar {
    border-top: 1px solid var(--ws-statusBar-border) ;
}