.explorer-section-trigger {
    color: var(--ws-list-headerGroupForeground);
    background-color: var(--ws-list-headerGroupBackground);
  &:hover {
    text-decoration: none !important;
  }

  .explorer-section-chevron {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
