.extensions-modal-content{
    background-color: var(--ws-extensions-modal-content);
    button{
        &:hover{
            background-color: var(--ws-button-hoverBackground);
            color: var(--ws-button-foreground);
        }
    }
}