/**
 * MonacoEditor 编辑器颜色样式
 * 功能：定义Monaco编辑器的颜色主题
 */

.monaco-editor {
  background-color: var(--ws-editor-background);
  color: var(--ws-editor-foreground);
}

.monaco-editor .line-numbers {
  color: var(--ws-editorLineNumber-foreground);
}

.monaco-editor .current-line {
  background-color: var(--ws-editor-lineHighlightBackground);
  border-color: var(--ws-editor-lineHighlightBorder);
}

.monaco-editor .selection {
  background-color: var(--ws-editor-selectionBackground);
}

.monaco-editor .cursor {
  background-color: var(--ws-editorCursor-foreground);
}








