/**
 * Sidebar 侧边栏颜色样式
 * 功能：定义侧边栏的颜色主题
 */


//颜色-侧边栏
.sidebar[data-position="left"] {
  background-color: var(--ws-sideBar-background);
  border-right:1px solid var(--ws-sideBar-border);
  color:var(--ws-list-foreground);
}


// 侧边栏
[data-theme-mode='light'] .sidebar[data-position=right] {
  border-left:1px solid var(--ws-sideBar-border);
}


.sidebar[data-position="right"] {
  // 样式
  color: var(--ws-panel-border);;
}

.sidebar-header {
  color: var(--ws-sideBar-foreground);
  border-bottom-color: var(--ws-panel-border);;
}

.sidebar-header button {
  color: var(--ws-icon-foreground);
}

.sidebar-header button:hover {
  opacity: 1;
}
