/**
 * TitleBar 标题栏颜色样式
 * 功能：定义标题栏的颜色主题
 */
// ResizeHandle 调整大小手柄
.titlebar{
 
}

.titlebar-controls {

  .titlebar-ai-button {
    &:hover {
      background-color: var(--ws-titleBar--hoverBackground);
    }
  }

  // .titlebar-ai-button.selected {
  //   color: red;
  // }


  .titlebar-close {
    &:hover {
      background-color: rgba(255, 0, 0, 0.705);
    }
  }

  .titlebar-minimize,
  .titlebar-maximize {
    border-radius: 0;
  }
}

.titlebar-menu-button {
  color: var(--ws-menu-foreground);

  &:hover {
    background: var(--ws-button-hoverBackground);
  }

  &:active {
    background: var(--ws-toolbar-active-background);
  }
}

.titlebar-dropdown {
  background-color: var(--ws-menu-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.titlebar-dropdown-item {
  color: var(--ws-menu-foreground);

  &:hover {
    background: var(--ws-menu-selectionBackground);
    color: var(--ws-menu-selectionForeground);
  }

  ;

  &:active {
    background: var(--ws-menu-selectionBackground);
    color: var(--ws-menu-selectionForeground);
  }

  ;
}


.titlebar-submenu {
  background-color: var(--ws-menu-background);
  border-color: var(--ws-menu-border);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  .titlebar-dropdown-item {
    &:hover {
      background: var(--ws-menu-selectionBackground);
      color: var(--ws-menu-selectionForeground);
    }

    &:active {
      background: var(--ws-menu-selectionBackground);
      color: var(--ws-menu-selectionForeground);
    }
  }
}

