/**
 * CommandCenter 命令中心颜色样式
 * 功能：定义命令中心的颜色主题
 */

.command-center {
  background-color: var(--ws-commandCenter-background, var(--ws-editor-background));
  border-color: var(--ws-commandCenter-border);
  color: var(--ws-commandCenter-foreground);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}


[data-theme-mode=dark] .command-center {
  background-color: var(--ws-commandCenter-background, var(--ws-editor-background,#313131));
}

[data-theme-mode=dark] .command-center-item.selected {
    background-color: var(--ws-quickInputList-focusBackground,#aa3b3bbb);
}


[data-theme-mode=light] .command-center {
  background-color: var(--ws-commandCenter-background, var(--ws-editor-background,#313131));
}

.command-center-list {
  // background-color: var(--ws-quickInput-background);
  // color: var(--ws-quickInput-foreground);
}

.command-center-item {
  color: var(--ws-quickInput-foreground);
}

.command-center-item:hover {
  background-color: var(--ws-quickInputList-focusBackground);
  color: var(--ws-quickInputList-focusForeground);
}

.command-center-item.selected {
  background-color: var(--ws-quickInputList-focusBackground,#aa3b3bbb);
  color: var(--ws-quickInputList-focusForeground);
}


[data-theme-mode=light] .command-item-separator{
  border: 1px solid rgb(129 129 129 / 28%)
}